@import "../../utilities/Variables.scss";

.admin-page {
    width: 100%;
    height: 100vh;
    background: $default--background;

    padding-top: 20px;

    .page--title {
        width: 80%;
        border-radius: 15px;
        background-color: white;
        font-size: 2rem;
        color: #195f89;
        margin: 0 auto;
        text-align: center;
    }

    .swap-page {
        padding-top: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        width: 80%;

        .button {
            width: 50%;

            background-color: #195f89;
            border: none;
            border-radius: 10px;
            padding: 10px;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background-color: #fff;
                color: #195f89;
            }
        }
    }

    .solicitations-list {

        display: flex;
        flex-direction: column;
        padding-top: 30px;
        
        width: 80%;
        margin: 0 auto;

        .solicitation {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            display: flex;

            .solicitation-info {
                flex: 1;
            }

            .solicitation-title {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }

        .action-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;

            .action-icon {
                font-size: 1.5rem;
                color: #195f89;
                cursor: pointer;
            }
        }

        .no-solicitation {
            padding-top: 20px;

            h1 {
                font-weight: 700;
                font-size: 1.5rem;
                text-align: center;
                color: $text-default-color;
            }
        }
    }
}