.btn--icon {
    position: absolute;
    z-index: 4;
    left: 40px;
    top: 40px;
}

.itens--menu {
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.126);
    top: 0;
}

.itens--menu-toggled {
    display: none;
}

.menu--icon {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.menu-icons {
    color: #000;
    top: 130px;
    position: relative;
}

.icons {
    margin-right: 8px;
    font-size: 1.3rem;
    position: relative;
    top: 3px;
}

