/* MessageMonitor.scss */

/*
.message-component {
  
    background: #f5f5f5;
  }
  
  .message-box {
    float: left;
      background-color: #ada;
      width: 100%;
      height: fit-content;
      margin: 0 auto;
      position: relative;
      top: 60px;
      border-radius: 20px;
  }
  
  .message--content {
      width: 90%;
      height: fit-content;
      margin: 0 auto;
      border-radius: 20px;
  }
  
  .message--text {
      width: 70%;
      height: 40px;
      border: none;
      background-color: rgb(237, 234, 234);
      border-radius: 5px;
  }
  */