@import "../../utilities/Variables.scss";

.newticket-component {
  width: 100%;
  height: 110vh;
  background: $default--background;

  .ticket__box {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 50px;

    .text__h2 {
      text-align: center;
      font-weight: 200;
      color: #fff;
      margin-top: 10px;
    }
  }
}
