@import "../../utilities/Variables.scss";

.newticket-component {
  width: 100%;
  height: 120vh;
  background: $default--background;

  .action-btn {
    background-color: transparent;
    border: none;
    position: relative;
    left: 10%;
    top: 7%;
    cursor: pointer;

    .action-icon {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
    }
  }

  .ticket__box {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 50px;

    .text__h2 {
      text-align: center;
      font-weight: 200;
      color: #fff;
      margin-top: 10px;
    }
  }
}
