@import "../../utilities/Variables.scss";

.message-student-component {
  width: 100%;
  height: fit-content;
  background-color: none;
  align-items: right;
  align-content: center;
  float: right;
}

.message-student-box {
    width: fit-content;
    height: fit-content;
    background-color: $btn--second-color;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3.572%;
    padding-right: 3.572%;
    position: relative;
    top: 30px;
    border-radius: 15px;
    color: $text-default-color;
    float: right;

    .attachment {
      display: block;
      max-width: 200px;
      max-height: 200px;
    }
}

.message-student-text {
    width: fit-content;
    height: fit-content;
}