@import "../../utilities/Variables.scss";

.lobby-monitor {
  padding: 20px;
  max-height: 100vh;
  height: 200vh;

  background: $default--background;

  .reload--btn {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 80%;
    top: 7%;
    cursor: pointer;

    .reload-icon {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
    }
  }

  .action-btn {
    background-color: transparent;
    border: none;
    //left: 80%;
    //top: 7%;
    cursor: pointer;

    .action-icon {
      font-size: 1.5rem;
      color: #195f89;
      cursor: pointer;
    }
  }

  .container {
    .Lobby {
      padding: 20px;
      margin-top: 25px;

      .ticket-list {
        display: flex;
        flex-direction: column;

        .ticket {
          background-color: #ffffff;
          border-radius: 10px;
          padding: 15px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          margin-bottom: 15px;
          display: flex;
          //align-items: center;

          img {
            width: 30%;
            border-radius: 50%;
            margin-right: 15px;
          }
          .ticket-info {
            flex: 1;
          }
          .ticket-title {
            font-weight: bold;
            margin-bottom: 5px;
          }

          .ticket-date {
            font-size: 12px;
          }

          .ticket-read-icon {
            margin-left: auto;

            #user-img {
              width: 80px;
            }
          }
          .exclamation-icons {
            position: relative;
            font-size: 1.3rem;
            top: -70%;
            left: 101%;
            color: #195f89;
            background-color: white;
            border-radius: 360px;
          }
        }
      }
    }
  }
}
